/* Sekcja formularza dodawania projektu */
.section-title {
    margin-top: 16px;
    font-weight: bold;
  }
  
  /* Formularz */
  .form-container {
    margin-bottom: 16px;
  }
  
  .input-field {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    margin-bottom: 8px;
  }
  
  .submit-button {
    padding: 8px 16px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #2980b9;
  }
  
  /* Lista projektów */
  .project-list {
    list-style-type: none;
    padding-left: 0;
  }
  
  .project-item {
    margin-bottom: 10px;
  }
  
  .project-button {
    padding: 8px 16px;
    background-color: #292929;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .project-button.active-project {
    background-color: #325340;
    color: white;
  }