@use 'variablesMain.scss' as vm;

body {
  background-color: vm.$dark-bg;
  color: vm.$dark-text;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#add-project-form {
  margin: 20px;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: row;
  width: 100%;
  padding: 10px;
}

#add-project-form input[type="text"],
.modal input[type="text"],
.modal input[type="number"],
select {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: vm.$dark-border-radius;
  border: 1px solid vm.$dark-border-color;
  background-color: vm.$dark-container-bg;
  color: vm.$dark-text;
}

#add-project-form button {
  padding: 10px 20px;
  font-size: 16px;
  color: vm.$dark-text;
  border: none;
  border-radius: vm.$dark-border-radius;
  cursor: pointer;
  background-color: vm.$dark-button-bg;
}

#add-button {
  background-color: vm.$dark-button-bg;
}

#add-button:hover {
  background-color: vm.$dark-button-hover-bg;
}

#add-story {
  background-color: #008cba;
}

#add-story:hover {
  background-color: #007b9a;
}

#project-list {
  list-style-type: none;
  padding: 0;
  width: 60%;
  margin: 0 auto;
}

#project-list li {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  background-color: vm.$dark-container-bg;
  border: 2px solid vm.$dark-border-color;
  border-radius: vm.$dark-border-radius;
  text-align: center;
  word-wrap: break-word;
  color: vm.$dark-text;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#project-list button {
  margin: 5px;
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#project-list .select-button {
  background-color: rgb(63, 63, 182);
  color: white;
}

#project-list .edit-button {
  background-color: green;
  color: white;
}

#project-list .delete-button {
  background-color: rgb(114, 12, 12);
  color: white;
}

#project-list button:hover {
  background-color: vm.$dark-border-color;
}

#project-list li.active-project {
  border-color: seagreen;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
}

.modal-content {
  background-color: vm.$dark-container-bg;
  margin: 15% auto;
  padding: 20px;
  border: 2px solid vm.$dark-border-color;
  border-radius: vm.$dark-border-radius;
  width: 40%;
  display: block;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#edit-project-form,
#edit-task-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  label,
  input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  label {
    margin-right: 10px;
  }

  input {
    margin-top: 5px;
  }
}

.task-modal-content {
  background-color: vm.$dark-container-bg;
  margin: 15% auto;
  padding: 20px;
  border: 2px solid vm.$dark-border-color;
  border-radius: vm.$dark-border-radius;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.modal-button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(63, 63, 182);
  color: vm.$dark-text;
  border: none;
  border-radius: vm.$dark-border-radius;
  cursor: pointer;
  display: inline-block;
  width: 130px;
}

.modal-button:hover {
  background-color: vm.$dark-button-hover-bg;
  opacity: 0.8;
}

.modal-button:active {
  background-color: vm.$dark-button-bg;
}

.modal-button.cancel {
  background-color: vm.$dark-button-bg;
  color: white;

  &:active {
    background-color: #9a0007;
  }
}

#error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 20px;
}

#kanban-board {
  display: none;
  width: 90%;
  min-height: 413.133px;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.column {
  flex: 1;
  background-color: vm.$dark-container-bg;
  border-radius: vm.$dark-border-radius;
  border: 4px solid vm.$dark-border-color;
  margin: 5px;
  padding: 10px;

  h2 {
    margin-top: 0;
    text-align: center;
  }
}

.story-card {
  background-color: vm.$dark-container-bg;
  border: 1px solid vm.$dark-border-color;
  border-radius: vm.$dark-border-radius;
  padding: 10px;
  width: 70%;
  margin: auto;
  margin-bottom: 10px;

  h2 {
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
  }

  p {
    margin: 0;
    color: vm.$dark-text;
  }
}

.edit-story-button,
.delete-story-button,
.show-tasks-button {
  display: inline-block;
  margin: 10px 10px 0 0;
  color: vm.$dark-text;
  border: none;
  border-radius: vm.$dark-border-radius;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  padding: 5px 10px;
}

.edit-story-button {
  background-color: rgb(63, 63, 182);

  &:hover {
    background-color: vm.$dark-button-hover-bg;
  }
}

.delete-story-button {
  background-color: rgb(114, 12, 12);

  &:hover {
    background-color: vm.$dark-button-hover-bg;
  }
}

.show-tasks-button {
  background-color: rgb(36, 107, 19);
}

.Doing {
  border-color: #008cba;
  border-width: 3px;
}

.Done {
  border-color: #4caf50;
  border-width: 3px;
}

#Todo-stories,
#Doing-stories,
#Done-stories {
  position: relative;
  min-height: 70%;
  z-index: 0;
  padding: 10px;
  margin: 10px;
}

.drag-over {
  border: 2px dashed red;
  background-color: #e0e0e0;
  opacity: 0.5;
  border-radius: 5px;
}

.task-modal-content table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;

  th,
  td {
    text-align: center;
    vertical-align: middle;
    padding: 8px;
    border-bottom: 1px solid vm.$dark-border-color;
  }

  th {
    background-color: vm.$dark-container-bg;
    color: vm.$dark-text;
  }
}

.modal-button.active {
  background-color: vm.$dark-button-bg;
  color: white;
}
